{% extends 'base.html' %}

{% block content %}
    <h1>4_testers Festival - Example Web Page</h1>
    <br>
    <a href="/users">See Users List</a>
    <br>
    <a href='/users/add'>Add User</a>
    <br>
    <a href='/lambda'>Send Request to Lambda</a>
{% endblock %}