{% extends 'base.html' %}

{% block content %}
    <h1>Users List</h1>
    <table class="table">
        <tr><th>Email</th><th>First Name</th><th>Last Name</th></tr>
        {% for user in users %}
        <tr><td>{{ user[0] }}</td><td>{{ user[1] }}</td><td>{{ user[2] }}</td></tr>
        {% endfor %}
    </table>

    <a href='/users/add'>ADD USER</a>
{% endblock %}